.title{
   text-align: center;
   font-size: 90px;
   font-weight: 700;
   padding: 50px;
}
.black-back{
   background-color: black;
   width: 100%;
   padding-top: 70px;
   padding-bottom: 70px;
}
.back{
   display: flex !important;
   margin-top: 20px;
}
.img-text {
   display: flex;
   background-color: #3c3e44;
   color: white;
   width: 95%;
   border-radius: 10px;
}
.img img {
   border-radius: 10px 0px 0px 10px;
   width: 230px;
}
.item {
   text-align: start;
   margin: 6px;
   margin-left: 15px;
}
.name {
   font-size: 25px;
   font-weight: 900;
}
.gray-text{
   color: gray;
   font-weight: 600;
   padding-top: 10px;
   font-size: 17px;
}